<!-- _layouts/custom_home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
  {% include head.html %}
  {% include custom_head.html %}
</head>
<body>
  {% include masthead.html %}
  
<nav class="embedded-nav">
    <div class="embedded-nav-title">☰ Menu</div>
    <ul>
      <li><a href="{{ '/about/' | relative_url }}">About</a></li>
      <li><a href="{{ '/portfolio/' | relative_url }}">Portfolio</a></li>
      <li><a href="{{ '/skills/' | relative_url }}">Skills</a></li>
      <li><a href="{{ '/projects/' | relative_url }}">Projects</a></li>
      <li><a href="{{ '/publications/' | relative_url }}">Publications</a></li>
    </ul>
  </nav>
  
  <!-- 放你自己的內容 -->
  <main id="main" role="main">
    {{ content }}
  </main>

  {% include footer.html %}
</body>
</html>
